span {
    color:#333;
    font-weight: bold;
    font-size: 28px;
    color: green;
}
h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.container {
    margin: auto;
    padding: 50px;
    margin: 50px;
}